/********( CSS Index )*********************************************************/
/*
	0. CSS Introduction
	1. General Reset

	2.Base Elements

    3. ?

    4. Detail Form
        4.1. Base Elements
        4.2. Specific Fields
        4.3. Helper Classes
        4.4. Overrides for JQuery UI AutoComplete

    5. Menu

	EOF
*/
/********( CSS Introduction )**************************************************/
/*
    As you may have noticed I like my style sheets ordered and well documented.
    If you consider this verboseness a bad thing, just use your favorite CSS
    Minifier and shut the fuck up, mmmmkay? Also, as this is a side project,
    you might encounter me swearing in here. It's not that I think it's cool,
    its just what happens when it's 3 at night and  I've had a couple of beers.
    And, honestly, I really can't be arsed to clean it up when I'm sober because
    if I'm going to clean my own mess up, it _better_ be in the code. Fuck the
    comments! this might be a good place to point out I already suggested the
    use of a Minifier and the STFU routine. Moving on...

    One important thing to note is that I tend to give either (or both) the html
    and body tags in the HTML an ID attribute to get around certain issues in
    regards to CSS specificity and styling done by external libraries. If you
    don't know what "CSS specificity" is, look it up! You _need_ to know this
    shit!
*/
/********( General Reset )*************************************************************/
    /*Being specific is a lot less expensive than targeting everything using a star "*" */
    a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
    body, button, canvas, caption, center, cite, code, dd, del, details, dfn, div,
    dl, dt, em, embed, fieldset, figcaption, figure, font, footer, form, h1, h2,
    h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label,
    legend, li, mark, menu, nav, object, ol, optgroup, option, output, p, pre, q,
    ruby, s, samp, section, select, small, span, strike, strong, sub, summary,
    sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var,
    video
    {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        /*font-family: 'Walter Turncoat', sans-serif;  /*Webfont FTW or GTFO!*/
        font-family: sans-serif;
        font-size: 1em;
    }
/********( Base Elements )*****************************************************/
    body {
        background-color: #EEF;
        display: table;
    }

    section {
        background-color: #FFF;
        border: 1px solid black;
        border-radius: 1em;
        box-shadow: 1em 1em 1em #333;
        display: table-cell;
        height: auto;
        overflow: auto;
        padding: 1em;
        position: relative;
        top: 3em;
        width: auto;
        font-size: 80%;
    }

    ul {
        list-style-position: inside;
        margin-left: 1em;
    }

    option:before {
        content: "--";
    }
    optgroup {
        margin-left: 1em;
    }

    hr {
        clear:both;
    }
/********( ? )*****************************************************************/
    #overview {
        background-color: rgba(25, 25, 25, 0.8);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        left: -3em;
        line-height: 0.8em;
        margin-right: 0;
        padding-left: 1.5em;
        z-index: 1;
    }
    #overview .dynatree-container {
        background-color: transparent;
        border: none;
        margin-left: 1.5em;
    }

    #overview .dynatree-container a {
        color: #FFF;
        border-radius: 0.5em;
        padding: 3px;
        margin-left: 0;
        margin-right: 0;
        white-space: normal;
    }
    #overview .dynatree-container a:hover {
        background-color: #B8D6FB;
    }

    #detail {
        right: 1.5em;
        width: 100%;
    }

    #create-new-item-form {
        position: absolute;
        width: 100%;
        white-space: nowrap;
        font-size: 80%;
    }

    #document-list ul {
        /*margin-left: 0;*/
    }

    #create-new-item-form button code {
    border: 1px solid black;
    padding: 0.5em;
    margin: 0.2em;
    background-color: white;
}


/********( Detail Form )*******************************************************/
form {
    position: relative;
}
    /********( Base Elements )*************************************************/
    fieldset {
        width: 49%;
        float: left;
        position: relative;
        height: 99%;
        border: none;
    }

    form input
    , form textarea
    , form select
    /*, form p*/
    , form button
    {
        border-radius: 1em;
        margin: 0.5em;
        outline: none;
        padding-left: 0.4em;

        border: 2px solid;
        border-color: gray lightgray lightgray gray;
    }

    form label {
        display: block;
        width: 100%;
    }
    form p label {
        display: inline;
    }

    form button {
        border-color: lightgray gray gray lightgray;
        position: relative;
        background-color: #aaa;
    }

    form button:hover {
        background-color: #CCC;
    }

    form button:active{
        border-bottom-width: 1px;
        border-right-width: 1px;
        top: 1px;
        left: 1px;
    }

    form :focus {
        border-color: blue lightblue lightblue blue;
    }

    ::-webkit-input-placeholder	{
        color: #666;
    }

    :-moz-placeholder {
        color: #666;
    }

    [readonly]::-webkit-input-placeholder	{
        color: #CCC;
    }

    [readonly]:-moz-placeholder {
        color: #CCC;
    }



    /********( Specific Fields )***********************************************/

    label input[type="radio"] {
        width: 1em;
        height: 1em;
    }

    label input:checked[type="radio"] {
        background: red;
    }

    form [name="main-text"] {
        height: 14em;
    }

    form [name="motivation"] {
        height: 20%;
    }

    form [disabled] {
        background-color: transparent;
        border: none;
    }

    form [readonly] {
        background-color: transparent;
        color: #BBB;
        border: 1px dashed #EEE;
    }

    form button[disabled] {
        background-color: #CCC;
        border: 2px solid #CCC;
    }

    #body button[name="create-new-child"] {
        white-space: nowrap;
        min-width: 22.5%;
        width: auto;
    }

    #body button[name="create-new-item"] {
        float: right;
    }

    /********( Helper Classes )************************************************/
    form .medium {
        width: 67.5%;
    }

    form .small {
        width: 45%;
    }

    form .tiny {
        width: 22.5%;
    }


    form .percent_60 {
        width: 60%;
    }
    form .percent_50 {
        width: 50%;
    }
    form .percent_40 {
        width: 40%;
    }
    form .percent_30 {
        width: 30%;
    }
    form .percent_25 {
        width: 25%;
    }
    form .percent_20 {
        width: 20%;
    }
    form .percent_17 {
        width: 17.5%;
    }
    form .percent_15 {
        width: 15;
    }
    form .percent_12 {
        width: 12.5;
    }
    form .percent_10 {
        width: 10%;
    }
    form .percent_5 {
        width: 5%;
    }

    #body .ui-datepicker {
        font-size: 80%;
    }

    .required {
        border-color: #A00 #A88 #A88 #A00;
    }

.todo {
    background-color: #FEE;
}

.note {
    background-color: #EFE;
}


    /********( Overrides for JQuery UI Stylesheet )****************************/
        /********( Overrides for JQuery UI Autocomplete )**********************/
        #body .ui-state-hover {
            background: #EE0;
        }

        #body .ui-autocomplete {
            font-size: 0.8em;
        }

        #body .ui-autocomplete-category {
            border-top: 2px solid black;
            border-bottom: 1px solid darkGray;
            clear: left;
            color: #777;
            float: left;
            font-weight: bold;
            text-align: center;
            width: 100%;
        }

        /********( Overrides for JQuery UI Accordion )*************************/
        #body .ui-accordion {
            margin: -2px -2px -2px 0;
            border: none;
        }

        #body .ui-accordion a {
            padding-left: 5%;
            width: 95%;
        }

        #body .ui-accordion .ui-accordion-header,
        #body .ui-accordion .ui-accordion-content {
            /*line-height: 0.8em;*/
            /*font-size: 0.8em;*/
        }

        #body .ui-accordion .ui-accordion-header {
            padding: 0.35em 0em;
            display: block;
            text-indent: 1.5em;
        }


        #body .ui-accordion .ui-accordion-content {
            padding: 0;
        }

        #body .ui-accordion .ui-accordion-header .ui-icon {
            left: 0;
        }

        .ui-accordion .no-children .ui-accordion-header .ui-icon {
            display: none;
        }

        /********( Overrides for JQuery UI SelectMenu )************************/
        #body .ui-selectmenu-menu ul {
            border-left: 1em solid red;
        }
        #body .ui-selectmenu-menu ul ul {
            border-left-color: blue;
        }

/********( Menu )**************************************************************/
/*
    #body #overview li[level="1"] a {
        text-indent: 2.5em;
    }

    #body #overview li[level="2"] a {
        text-indent: 3.5em;
    }

    #body #overview li[level="3"] a {
        text-indent: 4.5em;
    }
*/
    .dynatree-container {
        margin-left: 0;
    }

    #overview .utility-bar {
        position: relative;
        right: 1em;
        color: #69F;
        text-align: right;
        white-space: nowrap;
        margin-left: 4em;
    }

        #overview .utility-bar button {
            color: #69F;
            cursor: pointer;
        }
        #overview .utility-bar button:hover {
            color: #9CF;
        }
/********( EOF )***************************************************************/

#debug {
    border: 1px solid black;
    position: fixed;
    right: 0;
    top: 0;
    background: rgba(255,255,255,0.8);
    opacity: 0.7;
    border-radius: 1em;
    padding: 0.3em;
    font-size: 0.8em;
}

#debug.fail{
    background: rgba(255,180,180,0.8);
    border-color: #F00;
}

#debug.success{
    background: rgba(180,255,180,0.8);
    border-color: #0F0;
}

#debug ul {
    display: none;
}

#debug:hover ul {
    display: block;
    font-weight: bold;
    font-family: sans-serif;
}

#debug:hover ul code {
    font-family: monospace;
}